<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.IOcrMapper">

	<insert id="insertOcrInfo" parameterType="OcrDTO">
		INSERT INTO OCR_INFO
		(
		SEQ, 
		SAVE_FILE_NAME, 
		SAVE_FILE_PATH, 
		ORG_FILE_NAME, 
		EXT, 
		OCR_TEXT,
		REG_ID,
		CHG_ID 
		
		)
		VALUES(
		(SELECT NVL(MAX(A.SEQ),0)+1 FROM OCR_INFO A),
		#{save_file_name}, 
		#{save_file_path},
		#{org_file_name}, 
		#{ext}, 
		#{ocr_text}, 
		#{reg_id},
		#{reg_id}
		)
	</insert>
</mapper>